<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiraz_uni_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Internet.ChangePassword.ChangePasswordActivity"></activity>
        <activity android:name=".Internet.BuyTrafficActivity" />
        <activity android:name=".Internet.ConnectionReportActivity" />
        <activity android:name=".Event.AllEvents.EventsActivity" />
        <activity android:name=".ForgetPassword.ForgetPasswordActivity" />
        <activity android:name=".Event.SavedEvents.SavedEventsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Event.SingleEvent.SingleEventActivity" />
        <activity android:name=".Internet.Account.AccountActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>